<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/eduPro_logo.jpg" />
    <title>Payment</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <!-- nav icons in smaller screen -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/homepage"><img src="/images/eduPro_logo.jpg" alt="logo" /></a>
      <div class="nav-links" id="navLinks">
        <i class="fas fa-times" onclick="hideMenu()"></i>
        <ul>
          <li><a href="/form">Subscription</a></li>
          <li><a href="/discover_tutor">Discover Tutor</a></li>
          <li><a href="/tuitionFee">Payment</a></li>
          <li><a href="/helpdesk">Helpdesk</a></li>
        </ul>
      </div>
      <div class="navIcon">
        <!-- Cart Icon -->
        <i
          class="bx bx-cart"
          id="cart-icon"
          alt="Cart Icon"
          data-quantity="0"
        ></i>
        />
        <!-- cart -->
        <div class="cart">
          <h2 class="cart-title">Your Cart</h2>
          <!-- Content -->
          <div class="cart-content"></div>
          <div class="total">
            <div class="total-title">Total</div>
            <div class="total-price">$0</div>
          </div>
          <!-- Buy Button -->
          <button type="button" class="btn-buy">Pay Now</button>
          <!-- Close Cart -->
          <i class="bx bx-x" id="close-cart"></i>
        </div>
        <div class="dropdown">
          <a href="#" class="navLink" id="profileIcon"
            ><img
              id="profileIconImg"
              class="profile-icon"
              src="<%= user.profilePic ? '/uploads/' + user.profilePic : '/images/ic_profile.png' %>"
              alt="user profile"
          /></a>
          <div class="dropdown-content" id="profileDropdownContent">
            <a id="profile" href="/profile/<%= user._id %>">My Profile</a>
            <div class="logout">
              <a href="/" onclick="logout()"
                ><img id="logout-ic" src="/images/logout.png" />Log Out</a
              >
            </div>
          </div>
        </div>
      </div>
      <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="cart">
      <h3 class="title">Cart</h3>

      <input type="checkbox" id="select-all-checkbox" />
      <label for="select-all-checkbox" class="select-all-label"
        >*Select All</label
      >

      <ul id="cart-items">
        <% cartItems.forEach(function(item) { %>
        <li>
          <input
            type="checkbox"
            class="course-checkbox"
            price="<%= item.transactionAmount %>"
            data-item-id="<%= item._id %>"
          />
          <img
            src="/uploads/<%= item.profilePic %>"
            alt="profile"
            class="profile-picture"
          />
          <div class="course-details">
            <span class="course"><%= item.tutorId.subject %></span>
            <span class="tutor"><%= item.cardholderName %></span>
          </div>
          <span class="price">RM<%= item.transactionAmount %></span>
        </li>
        <% }); %>
      </ul>

      <div class="total">Total: RM0</div>

      <div class="btn">
        <button class="pay" onclick="checkout()">Checkout</button>
        <button class="remove" onclick="removeFromCart()">Remove</button>
      </div>
    </div>

    <script src="/js/cart.js"></script>
  </body>
</html>
