<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription</title>
    <link rel="icon" type="image/x-icon" href="/images/logoEduPro.png">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/subscription.css">
    <link rel="stylesheet" href="/css/footer.css">
     <!-- cart -->
     <link rel="stylesheet" href="/css/cart.css" />
     <link
       href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
       rel="stylesheet"
     />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

  <nav>
    <a href="/homepage"><img src="/images/eduPro_logo.jpg" alt="logo" /></a>
    <div class="nav-links" id="navLinks">
      <!-- close icon -->
      <i class="fas fa-times" onclick="hideMenu()"></i>
      <ul>
        <li><a href="/form">Subscription</a></li>
        <li><a href="/discover_tutor">Discover Tutor</a></li>
        <li><a href="/tuitionFee">Payment</a></li>
        <li><a href="/helpdesk">Helpdesk</a></li>
        <li><a target="_blank" href="/inbox">Inbox</a></li>
        <!-- New Inbox link -->
      </ul>
      <!-- closing unordered list -->
    </div>
    <!-- closing nav-links -->
    <!-- nav icon -->
    <div class="navIcon">
      <!-- Cart Icon -->
      <i
        class="bx bx-cart"
        id="cart-icon"
        alt="Cart Icon"
        data-quantity="0"
      ></i>
      />
      <!-- cart -->
      <div class="cart">
        <h2 class="cart-title">Your Cart</h2>
        <!-- Content -->
        <div class="cart-content"></div>
        <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">$0</div>
        </div>
        <!-- Buy Button -->
        <button type="button" class="btn-buy">Checkout</button>
        <!-- Close Cart -->
        <i class="bx bx-x" id="close-cart"></i>
      </div>
      <div class="dropdown">
        <a href="#" class="navLink" id="profileIcon"
          ><img
            id="profileIconImg"
            src="<%= user.profilePic ? '/uploads/' + user.profilePic : '/images/ic_profile.png' %>"
            alt="user profile"
        /></a>
        <div class="dropdown-content" id="profileDropdownContent">
          <!-- Dropdown content here -->
          <a id="profile" href="/profile/<%= user._id %>">My Profile</a>
          <div class="logout">
            <a href="/" onclick="logout()"
              ><img id="logout-ic" src="/images/logout.png" />Log Out</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- closing nav icon -->
    <i class="fas fa-bars" onclick="showMenu()"></i>
  </nav>

    <main>
        <div class="frame2">
            <div class="maindetail">
                <h3 id="title" class="dashboardtitle"><%= ad.title %></h3>
                <div class="profile">
                    <img src="<%= ad.user && ad.user.profilePic ? '/uploads/' + ad.user.profilePic : '/images/profile-pic.png' %>" alt="Tutor Profile Image" id="profile-pic">
                    <p class="teacher-text">
                        <span id="name"><%= ad.user ? ad.user.name : 'User' %></span><br>
                        Subject: <span id="subject"><%= ad.subject %></span><br>
                        <a href="<%= ad.teaching_sample %>" id="teaching_sample">MyTutor Video ></a>
                    </p>
                </div>

                <p class="points">
                    <img src="/images/ic_location.png" width="25px" height="25px">
                    <span id="location"><%= ad.location %></span>&nbsp;&nbsp; &nbsp; &nbsp;
                    <img src="/images/ic_video.png" width="25px" height="25px">
                    <span id="mode"><%= ad.mode %></span>&nbsp;&nbsp; &nbsp; &nbsp;
                    <img src="/images/ic_time.png" width="25px" height="25px">
                    <span><span id="hours"><%= ad.hours %></span> hours/session</span>&nbsp;&nbsp; &nbsp; &nbsp;
                    <img src="/images/ic_communicate.png" width="25px" height="25px">
                    <span id="languages">
                        <% ad.languages.forEach(function(language) { %>
                            <%= language %>&nbsp;
                        <% }); %>
                    </span>
                </p>

                <p id="AboutMe">
                    <span class="smalltitle">About Me</span><br>
                    <span id="about_tutor"><%= ad.about_tutor %></span>
                </p>

                <p id="AboutLesson">
                    <span class="smalltitle">About The Lesson</span><br>
                    <span id="about_lesson"><%= ad.about_lesson %></span>
                </p>
    
                <div class="buttonplace">
                  <button onclick="window.location.href = '/subscription/edit/<%= ad._id %>';" class="buttoncontainer">Edit</button>

                    <form action="/subscription/delete/<%= ad._id %>" method="POST" style="display: inline;">
                        <button type="submit" class="buttoncontainer">Delete</button>
                    </form>
                </div>

            </div>
            <div class="studentdetail">
                <div class="buttonplace">
                    <span id="numofstudent"><%= numOfStudents %></span> <span class="student-text">students</span><br>
                </div>

                <p class="incenter">
                    RM<span id="rate"><%= ad.rate %></span> for session</span></p>
                <div class="buttonplace">
                    <button onclick="window.location.href = '/payment_report';" class="btnreport">Generate payment
                        report</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <section class="footer">
          <div class="container6">
            <div class="frame">
              <div class="link">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="/homepage">Home</a></li>
                  <li><a href="/form">Subscription</a></li>
                  <li><a href="/discover_tutor">Courses</a></li>
                  <li><a href="/helpdesk">FAQ</a></li>
                </ul>
              </div>
              <img id="logo" src="/images/logo.png" alt="EduPro" width="200">
              <div class="link">
                <h4>Contact Us</h4>
                <ul>
                  <li>
                    <img src="/images/email.png" alt="Email">
                    <a href="mailto:info@edupro.com?subject=Inquiry%20about%20EduPro">info@edupro.com</a>
                  </li>
                  <li>
                    <img src="/images/phone.png" alt="Phone no">
                    <a href="https://wa.me/60173968518">+60 17 396 8518</a>
                  </li>
                  <li>
                    <img src="/images/location.png" alt="Location">
                    <a
                      href="https://www.google.com/maps?q=4+Persiaran+Stonor,+Kuala+Lumpur,+50450+Kuala+Lumpur,+Wilayah+Persekutuan+Kuala+Lumpur">4,
                      Persiaran Stonor, 50450 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia</a>
                  </li>
                </ul>
              </div>
            </div>
            <hr>
            <p>&copy; 2024 EduPro. All rights reserved.</p>
          </div>
        </section>
      </footer>
      <script src="/js/nav.js"></script>
      <script src="/js/cart.js"></script>

</body>

</html>